<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="./css/styles.css" rel="stylesheet">
    <script>
        var token = document
            .querySelector(`meta[name="csrf-token"]`)
            .getAttribute("content");
        function updateTodo(id, completed) {
            fetch(`/todos/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                    completed: completed,
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <a href="/signout">Signout</a>
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title"
                                class="border border-gray-300 p-2 text-sm rounded text-gray-900 w-full"
                                placeholder="What's next?" required />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="dueDate"
                                class="border border-gray-300 p-2 text-sm rounded leading-4 text-gray-900 w-full"
                                required />
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-600 font-medium mr-2 mb-2 text-white px-5 py-1.5 rounded">Add</button>
                        </div>
                    </div>
                </form>
                <div>
                    <%- include('todo.ejs', {id:"count-overdue",title: "Overdue" , data: overdueTodos}) %>
                        <%- include('todo.ejs', {id:"count-due-today",title: "Due Today" , data: dueTodayTodos}) %>
                            <%- include('todo.ejs', {id:"count-due-later",title: "Due Later" , data: dueLaterTodos}) %>
                                <%- include('todo.ejs', {id:"count-completed",title:"Completed Items" ,
                                    data:completedTodos}) %>

                </div>
        </div>
    </div>

</body>

</html>